#main {
    padding: 10px;
}

#main[data-init] #response{
    display: none;
}

.card {
    width: 150px;
    border: solid 1px;
    text-align: center;
}

.card-img-top {
    height: 80px;
}

.card-body {
    height: 80px;
    display: flex;
    align-items: center;
    background-color: lavenderblush;
}

.check-point .card-body {
    background-color: #007bff;
    color: white;
}

.cell-content {
    width: 100%;
    font-size: 1.15em;
    font-weight: 500;
}

.title-in-img {
    position: absolute;
    top: 30px;
    left: 5px;
    color: white;
}

#road-container, #teams-container {
    display: inline-block;
}

#center-container {
    position: fixed;
    top: 10px;
    left: 250px;
}

#question img {
    width: 50vw;
    height: 55vh;
}

#answer img {
    width: 50vw;
    height: 35vh;
}

#form-container img {
    width: 25vw;
    height: 40vh;
}

#right-panel {
    position: fixed;
    top: 20px;
    right: 40px;
    text-align: right;
}

#status-container {
    border: solid 1px;
    padding: 21px;
    background: url(img/chalkboard.jpg);
    background-size: contain;
    width: 270px;
    height: 177px;
    color: white;
    font-size: 1.25em;
    margin: 0 auto
}

#status-container div {
        text-align: left;

}

#dice-container {
    margin: 30px auto;
    text-align: center;
}

.team {
    width: 30px;
    height: 30px;
    display: block;
    border-radius: 50%;
    border: 1px solid;
    text-align: center;
    position: absolute;
}

.team[data-team="1"] {
    background-color: rgb(255, 40, 37);
    border-color: red;
}

.team[data-team="2"] {
    background-color: rgb(254, 255, 126);
    border-color: yellow;
}

.team[data-team="3"] {
    background-color: rgb(141, 255, 140);
    border-color: green;
}

.team[data-team="4"] {
    background-color: rgb(84, 78, 255);
    border-color: blue;
}

#current-team-container {
    margin: 20px 20px 20px 175px;
    font-size: 1.25em;
}

#dice {
    display: inline-block;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin-left: 40px
}

#response {
    margin-top: 20px;
}

#answer {
    margin-top: 10px;
}

#clock {
    width: 200px;
    height: 200px;
    border-radius: 200px;
    position: fixed;
    top: calc(100% - 250px);
    left: calc(100% - 250px);
    background-color: lightgray;
    font-size: 100px;
    padding-top: 25px;
    text-align: center;
}
